<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui" xmlns:b="http://bootsfaces.net/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<title>Manages Pap</title>
	<style>

#bordas {
	background-color: #F8F8FC;
}
</style>
	<f:facet name="no-fa">true</f:facet>
</h:head>
<h:body>
	<div id="bordas">
		<b:container>
			<b:navBar inverse="true" fixed="top">
				<b:navbarLinks>
					<b:navLink value="Lista de Alunos" href="aluno.xhtml"></b:navLink>
					<b:navLink value="Gerenciar Aluno" href="manageAluno.xhtml"></b:navLink>
				</b:navbarLinks>
			</b:navBar>
			<br />
			<br />
			<br />

			<hr />
		</b:container>

	</div>
</h:body>
</html>