<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui" xmlns:b="http://bootsfaces.net/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<title>Gerencia Aluno</title>
	<style>

#bordas {
	background-color: #F8F8FC;
}
</style>
</h:head>
<h:body>
	<div id="bordas">
		<b:container>
			<b:navBar inverse="true" fixed="top">
				<b:navbarLinks>
					<b:navLink value="Lista de Alunos" href="aluno.xhtml"></b:navLink>
					<b:navLink value="Gerenciar Aluno" href="manageAluno.xhtml"></b:navLink>
				</b:navbarLinks>
			</b:navBar>
			<br />
			<hr />
			<br />
			<br />
			<br />
			<h1>
				<h:outputText value="Gerenciar aluno" />
			</h1>
			<br />
			<br />
			<h:form>
				<p:panel id="panel" header="Adicionar aluno">

					<h:panelGrid columns="3" cellpadding="5">
						<p:outputLabel value="Name" />
						<p:inputText id="name" value="#{alunoMBean.aluno.name}"
							label="name">
						</p:inputText>
						<br />

						<p:outputLabel value="Curso" />
						<p:inputText id="curso" value="#{alunoMBean.aluno.curso}"
							label="curso">
						</p:inputText>
						<br />
						<p:outputLabel value="periodo" />
						<p:inputText id="periodo" value="#{alunoMBean.aluno.periodo}"
							label="periodo">
						</p:inputText>
						<br />
					</h:panelGrid>
					<p:commandButton value="Salvar" update="panel"
						action="#{alunoMBean.save}" />
				</p:panel>
			</h:form>
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
		</b:container>
	</div>
</h:body>
</html>